.formPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  height: 100%;
  position: absolute;
  width: 100%;
}

.formPrincipal h1 {
  margin-bottom: 20px;
}

.formButtons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
