.labelPokemon {
  width: 12rem;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.invalid-feedback {
  color: red;
  font-size: small;
}
